.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 90%;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
}

html {
  font-size: 15px;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 1rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  background-color: #ffffff;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

h1 {
  margin-top: 20px;
  padding-left: 12px;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #282d30;
  border-left: 3px solid #8b9497;
}

h3 {
  font-size: 0.8rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

select {
  font-size: 0.8rem;
  font-weight: 700;
  color: #999999;
  text-transform: uppercase;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.main-header {
  width: 100%;
  color: #ffffff;
  background: #282d30;
}

.logo {
  float: left;
  margin-bottom: -8px;
  margin-left: -15px;
}

.toggler {
  position: relative;
  float: right;
  width: 18px;
  height: 3px;
  margin-top: 25px;
  background: #ffffff;
  border-radius: 2px;
}

.toggler::before,
.toggler::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
}

.toggler::before {
  top: -7px;
}

.toggler::after {
  top: 7px;
}

.menu,
.sub-menu {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;  
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

.nav-btn {
  display: none; 
}

.nav-btn:checked ~ .menu {
  display: block;
}

.menu {
  background: #282d30;
}

.sub-menu {
  display: none;
  background: #383d40;
}

.menu__link,
.sub-menu__link {
  display: block;
  padding: 20px 5%;
  color: #ffffff;
  border-top: 1px solid #363b3e;
}

.filter {
  margin-bottom: 30px;
  font-family: "Arial", sans-serif;
}

.slider {
  display: none;
}

.supply__title {
  display: none;
}

.table {
  width: 100%;
  line-height: 1.4;
  color: #282d30;
}

.table__row {
  padding: 10px 5%;
  background: #f5f6f6;
  border-top: 1px solid #e3e4e4;
}

.table__row--header {
  display: none;
}

.table__cell {
  padding: 10px;
}

.table__extra {
  display: block;
  font-size: 0.8rem;
  color: #a7aeb0;
}

.table__button {
  display: block;
  padding: 9px 14px;
  font-size: 0.9rem;
  text-align: center;
  color: #ffffff;
  background: #282d30;
  border-radius: 20px;
}

.main-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.7rem;
  text-align: center;
  color: #c6c7c8;
  background: #282d30;
}

.copyright__text--rightholder {
  text-transform: uppercase;
}

@media (min-width: 768px) {

 
}

@media (min-width: 980px) {

  .slider {
    display: block;
  }

 .supply {
    width: 90%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
  }

  .supply__title {
    display: block;
  }

  .table {
    margin-bottom: 50px;
    border-radius: 3px;
  }

  .table__row--header {
    display: table-row;
    font-size: 1rem;
    font-weight: 500;
    background: #d7dcde;
  }

  .table__sort-link {
    position: relative;
    color: #282d30;
    text-decoration: none;
    border-bottom: 1px dashed #282d30;
  }

  .table__sort-link:hover {
    border-bottom: none;
  }

  .table__sort-link::after {
    content: ""; 
    position: absolute;
    top: 9px;
    right: -17px;
    border: 5px solid transparent;
    border-top: 5px solid #000000;
  }

  .table__button {
    padding: 9px 18px;
    color: #8b9497;
    background: none;
    -webkit-transition: all 0.25s;
       -o-transition: all 0.25s;
          transition: all 0.25s;
  }

  .table__button:hover {
    color: #ffffff;
    background: #282d30;
  }
}
